@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.poppins {
    font-family: "Poppins", sans-serif;
}
body {
    font-family: "Montserrat", sans-serif;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.best-box .swiper-button-next {
    color: #D9D9D9 !important;
}
.best-box .swiper-button-prev {
    color: #D9D9D9 !important;
}
.best-box .swiper-pagination-bullet-active {
    background-color: #D9D9D9 !important;
}
.best-box .swiper-button-next:after,
.best-box .swiper-button-prev:after {
    font-size: 15px !important;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #D9D9D9 ;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}



.main-carousel .swiper-button-next {
    color: #1E1E1E !important;
}
.main-carousel .swiper-button-prev {
    color: #1E1E1E !important;
}
.main-carousel .swiper-pagination-bullet-active {
    background-color: #1E1E1E !important;
}
.main-carousel .swiper-button-next:after,
.main-carousel .swiper-button-prev:after {
    font-size: 20px !important;
    min-width: 47px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #1E1E1E ;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
@media (max-width: 1023px) {
    .main-carousel .swiper-button-next:after,
    .main-carousel .swiper-button-prev:after {
        font-size: 15px !important;
        min-width: 30px;
        height: 30px;
    }
}
.main-carousel .swiper-backface-hidden .swiper-slide {
    display: flex;
    justify-content: center;
}

.main-carousel .swiper-wrapper {
    justify-content: space-between;
}





.checks .mui-j204z7-MuiFormControlLabel-root {
    height: 30px;
}
.checks .mui-i4bv87-MuiSvgIcon-root {
    fill: #D5281D;
    
}



.accordion-faq .mui-i4bv87-MuiSvgIcon-root {
    width: 0;
}
.accordion-faq .mui-1c35hjw-MuiPaper-root-MuiAccordion-root {
    margin-bottom: 25px;
}
.accordion-faq .mui-o4b71y-MuiAccordionSummary-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;
}
.accordion-faq .mui-15v22id-MuiAccordionDetails-root {
    padding: 20px;
    color: #777;
}



.requiments .mui-w8dmq8 {
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.199);
}
.requiments .mui-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
    background: #fff;
    color: #D5281D;
    border: none;
    outline: none;
}
.requiments .mui-1h9z7r5-MuiButtonBase-root-MuiTab-root {
    flex: 1;
    background: #EFECEC;
    font-weight: 500;
    font-size: 18px;
    text-transform: none;
}
.requiments .mui-1aquho2-MuiTabs-indicator {
    display: none;
}